body
{
	font-family: "Poppins", sans-serif;
	width: 1440px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	

}

#container
{
	background-color: #ECFDF5;
}

#page1
{
	max-height: 899px;
	max-width: 1440px;
}

.content
{
	padding-top: 67px;
	padding-left: 99px;
	float: left;
}

#header
{
	padding-top: 100px;
	max-height: 60px;
}

#text1
{
	max-width: 730px;
	margin-top: 60px;
}

#img
{
	float:right;
	margin-bottom: -7px;
}

#imgkot
{
	float:right;
	margin-top:100px;
}

#imgwwa
{
	float:right;
	margin-top: -85px;
	z-index: 1;
}

#button
{
	background-color: #581C87;
	margin-top: 60px;
	width: 240px;
	text-align: center;
	padding: 24px 0;
	border-radius: 10px;
	
}

#button:hover
{
	background-color: #470B76;
	cursor: pointer;
}

#page2
{
	clear: both;
	background-color: #6B21A8;
	height: 832px;
}

#title
{
	margin-top: 30px;
	max-width: 550px;
}

#text2
{
	margin-top: 60px;
	max-width: 840px;
}

#buttonlight
{
	background-color: #E9D5FF;
	margin-top: 60px;
	width: 240px;
	text-align: center;
	padding: 24px 0;
	border-radius: 10px;
	
}

#buttonlight:hover
{
	background-color: #D8B4FE;
	cursor: pointer;
}

#page3
{
	clear: both;
	height: 544px;
}

#text3
{
	max-width: 850px;
	padding-top: 100px;
}

#page4
{
	height: 509px;
	width: 100%;
	z-index: 2;
	background-color: #44403C;
}

ul
{
	float: left;
	list-style-type: none;
}

ol
{
	float: left;
	list-style-type: none;
}

#text4
{
	float: right;
	line-height: 0.8;
	margin-top: -80px;
}

#tab
{
	padding: 90px 0 0 88px;
	line-height: 1.4;
	
}

#square
{
	float: right;
	width: 800px;
	height: 50px;
	margin-top: -90px;
	background-color: #44403C;
}

#page5
{
	background-color: #ECFDF5;
	width:1440px;
	height: 1250px;
	margin-top: -20px;
}

#text5
{
	padding-top: 103px;
	padding-left: 102px;
	padding-bottom: 80px;
}

#slider
{
	height: 300px;
}

.photo
{
	width: 216px;
	height: 296px;
	border-radius: 8px;
	float: left;
	padding-right: 10px;
	counter-increment: photo;
}

.photo:before
{
	display: block;
	
}


#footer
{
	position: relative;
	height: 983px;
}

#end
{
	 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	
}

#vector
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index: -1;
   
}

.h1
{
	font-size: 60px;
	color: #581C87;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-top: 100px;
	
}

.h2
{
	font-size: 48px;
	color: #FAFAF9;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.h2black
{
	font-size: 48px;
	color: #292524;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}


.h3
{
	font-size: 36px;
	color: #292524;
	font-family: "Poppins", sans-serif;
	font-weight: 250;
	font-style: normal;
}

.h3white
{
	font-size: 36px;
	color: #FAFAF9;
	font-family: "Poppins", sans-serif;
	font-weight: 250;
	font-style: normal;
}

.h3tab
{
	font-size: 36px;
	color: #FAFAF9;
	font-family: "Poppins", sans-serif;
	font-weight: 250;
	font-style: normal;
}

.h3medium
{
	font-size: 36px;
	color: #292524;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.h4
{
	font-size: 304px;
	color: #78716C;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.h5
{
	font-size: 24px;
	color: #FAFAF9;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-style: normal;
	
}

.h5purple
{
	font-size: 24px;
	color: #581C87;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-style: normal;
	
}

.h6
{
	font-size: 64px;
	color: #FAFAF9;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}