html
{
	scroll-snap-type: y mandatory;
}
body
{
	font-family: "Poppins", sans-serif;
	width: 100vh;
	margin: 0;
}

#container
{
	
}

.page
{
	block-size: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	height: 100vh;
}

#logo
{
	padding-left: 50px;
}