html
{
	scroll-snap-type: y mandatory;
}
body
{
	font-family: "Poppins", sans-serif;
	width: 390px;
}

#container
{
	
}

.page
{
	block-size: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	display: grid;
}

#logo
{
	width: 50%;
	margin-left: 31px;
	margin-top: 70px;
}