
body
{
	font-family: "Poppins", sans-serif;
	width: 390px;
	height: 844px;
	margin: 0;
}

#container
{
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

.page
{
	scroll-snap-align: start;
	height: 100vh;
}

#logo
{
	
}